@{
    ViewData["Title"] = "QueenManager";
}

@section Styles {
    <link rel="stylesheet" href="/css/indexqueen.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
}
<h1>Panel</h1>
<div class="backtolist mt-3">
<table class="table table-bordered table-striped table-hover table-sm align-middle">
    <thead class="table-dark">
        <tr>Email</tr>
        <tr>Role</tr>
        <tr>ChangeRoleTo</tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.CurrentRole</td>
                <td>
                    <form asp-action="AlterRole">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <select name="role">
                            <option value="">Choose new role</option>
                            <option value="Queen">Queen</option>
                            <option value="Dealer">Dealer</option>
                        </select>

                        <button type="submit">Alter role</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>