@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome back to the dark side of the galaxy, troublemaker!";
}
@section Styles {
    <link rel="stylesheet" href="/css/login.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
}

<h1>@ViewData["Title"] </h1>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="wrapper">   
        <div class="lodinbox">
            <div class="loginheader">
                <span>Login</span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input_box">
                <input asp-for="Input.Email" class="input-field" autocomplete="username" required />
                <label asp-for="Input.Email" class="label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <i class="bx bx-user icon"></i>
            </div>

            <div class="input_box">
                <input asp-for="Input.Password" class="input-field" autocomplete="current-password" required />
                <label asp-for="Input.Password" class="label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <i class="bx bx-lock-alt icon"></i>
            </div>

            <div class="remember-forgot">
                <div class="remember-me">
                    <input asp-for="Input.RememberMe" type="checkbox" id="remember" />
                    <label for="remember">Remember me</label>
                </div>
            </div>

            <div class="forgot">
                <a asp-page="./ForgotPassword">Forgot password?</a>
            </div>

            <div class="input_box">
                <input type="submit" class="input-submit" value="Login">
            </div>

            <div class="register">
                <span>Don't have an account? 
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </span>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
