@model AliensStore.Data.Entity.Alien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinsPerDay" class="control-label"></label>
                <input asp-for="CoinsPerDay" class="form-control" />
                <span asp-validation-for="CoinsPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Legs" class="control-label"></label>
                <input asp-for="Legs" class="form-control" />
                <span asp-validation-for="Legs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arms" class="control-label"></label>
                <input asp-for="Arms" class="form-control" />
                <span asp-validation-for="Arms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eyes" class="control-label"></label>
                <input asp-for="Eyes" class="form-control" />
                <span asp-validation-for="Eyes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsForSale" /> @Html.DisplayNameFor(model => model.IsForSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PlanetId" class="control-label"></label>
                <select asp-for="PlanetId" class ="form-control" asp-items="ViewBag.PlanetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DealerId" class="control-label"></label>
                <select asp-for="DealerId" class ="form-control" asp-items="ViewBag.DealerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
