@model AliensStore.Data.Entity.Alien

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="/css/CreateAlien.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
}

<h1>Create an Alien</h1>
<hr />
<div class="wrapper">   
    <div class="lodinbox">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CoinsPerDay" class="control-label">Coins per day</label>
                <input asp-for="CoinsPerDay" class="form-control" />
                <span asp-validation-for="CoinsPerDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Age" class="control-label">Age</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Color" class="control-label">Color</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Legs" class="control-label">Legs</label>
                <input asp-for="Legs" class="form-control" />
                <span asp-validation-for="Legs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Arms" class="control-label">Arms</label>
                <input asp-for="Arms" class="form-control" />
                <span asp-validation-for="Arms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Eyes" class="control-label">Eyes</label>
                <input asp-for="Eyes" class="form-control" />
                <span asp-validation-for="Eyes" class="text-danger"></span>
            </div>

         

            <div class="form-group">
                <label asp-for="PlanetId" class="control-label">Planet</label>
                <select asp-for="PlanetId" class="form-control" asp-items="ViewBag.PlanetId"></select>
            </div>

         
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Image</label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="button">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="backtolist mt-3">
            <a asp-action="Index">&larr; Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
