@{
    ViewData["Title"] = "Home Page";
     Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
}
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<h1>Well, well, well… look who’s ready to dive into the illegal business. Welcome to ObjectNotFromEarth!</h1>
 <div class="background">
    
    <div class="Planetka">
        <!--<img src="/photos/planetkaa-bezbck.png" alt="planet" >-->
        <img src="/photos/greenplanet-bzbk.png">
    </div>
    </div>
